.main-div-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eafbff, #edfbff, #e8f6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eafbff, #edfbff, #e8f6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centrated-form{
    width: 30vw;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.main-dashboard{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

.title_welcome{
    font-size: 40px;
    font-family: "Varela Round", sans-serif;
}

@media (max-width: 1400px) {
    .centrated-form{
        width: 50vw;
    }
}

@media (max-width: 1200px) {
    .centrated-form{
        width: 60vw;
    }
}
@media (max-width: 1000px) {
    .centrated-form{
        width: 70vw;
    }
}
@media (max-width: 800px) {
    .centrated-form{
        width: 80vw;
    }
}
@media (max-width: 600px) {
    .centrated-form{
        width: 90vw;
    }
}
