{% extends "layout.html"%}

{% block body %}

    <div class="main-div-page-dashboard">
        <div class="main-dashboard">
            <div id="sign-out-Btn" onclick="signout()">Sign Out</div>
            <div style="min-width: 30%;">
                <div class="title_welcome">Welcome {{usernameSession}}!</div>
                <div class="title-home-dashboard" style="padding-top: 0;">Classification</div>
                <select class="form-control" id="classificationSelect" name="classificationSelect" style="margin-bottom: 10px;">
                    <option value="general" selected>General</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                </select>
                <table id="mainTableClassification" class="table table-striped main_table_classification">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in usersToLoad %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td class="clickableUsernameHome" title="Click to see {{user[0]}} predictions" onclick="location.href = '/user/{{user[0]}}/{{MD_Home}}'">{{ user[0] }}</td>
                            <td>{{ user[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="arrowDownShowPointsEqui" class="arrow-down"></div>
                <div id="pointsEquivalencesDiv" style="display: none;">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Hits</th>
                            <th scope="col">Points</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">0</th>
                                <td>0</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>2</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>25</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>250</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>500</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>1.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="prediction_table">
                <div class="title-home-dashboard">Make Prediction</div>
                <table class="table table-bordered table_predictions_dashboard">
                    <thead>
                      <tr>
                        <th style="text-align: center;">Local</th>
                        <th style="text-align: center;">Result</th>
                        <th style="text-align: center;">Visitor</th>
                        <th style="text-align: center;">Result/Date</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for macth in GCMD %}
                            <tr>
                                <td style="text-align: left;"><img src="{{macth[0][1]}}" class="imgShieldTeam">{{ macth[0][0] }}</td>
                                <td><div style="display: inline-flex"><div id="local{{loop.index}}" onclick="updatePrediction({{loop.index}}, 1)" class="clickableButton">1</div> <div id="draw{{loop.index}}" onclick="updatePrediction({{loop.index}}, 0)" class="clickableButton" style="margin-left: 5px; margin-right: 5px;">x</div> <div id="visitor{{loop.index}}" onclick="updatePrediction({{loop.index}}, 2)" class="clickableButton">2</div></div></td>
                                <td style="text-align: left;"><img src="{{macth[2][1]}}" class="imgShieldTeam">{{ macth[2][0] }}</td>
                                <td>{{ macth[1] }}</td> 
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  <button type="button"id="button-save-prediction" onclick="sendPrediction()" class="btn btn-primary btn-lg btn-block">Save Prediction</button>
            </div>
        </div>
    </div>
    <script>

        function signout() {
            location.href = "/signout";
        }

        var CP_Done = {{ CP }}

        dataPrediction = {
            g1:null,
            g2:null,
            g3:null,
            g4:null,
            g5:null,
            g6:null,
            g7:null,
            g8:null,
            g9:null,
            g10:null,
        }

        dictEqui = {
            1:"local",
            0:"draw",
            2:"visitor"
        }

        function loadCurrentPredictions() {
            if (CP_Done != []) {
                for (i = 0; i <  CP_Done.length; i++) {
                    document.getElementById(dictEqui[CP_Done[i]]+(i+1)).classList.add("selectedButtonPredict")
                    dataPrediction[`g${i+1}`] = CP_Done[i]
                }
            }
        }

        document.addEventListener("DOMContentLoaded", loadCurrentPredictions)

        function updatePrediction(game, val){
            if (dataPrediction[`g${game}`] == val) {
                document.getElementById(dictEqui[dataPrediction[`g${game}`]]+game).classList.remove("selectedButtonPredict")
                dataPrediction[`g${game}`] = null
            }
            else {
                if (dataPrediction[`g${game}`] != null) {
                    document.getElementById(dictEqui[dataPrediction[`g${game}`]]+game).classList.remove("selectedButtonPredict")
                }
    
                dataPrediction[`g${game}`] = val
                document.getElementById(`${dictEqui[val]}${game}`).classList.add("selectedButtonPredict");
            }
        }

        function sendPrediction(){
            allCompleated = true

            for (let key in dataPrediction) {
                if (dataPrediction[key] == null) allCompleated = false
            }

            if (allCompleated) {
                fetch("/save-prediction", {
                    method: "POST",
                    body: JSON.stringify({
                        dataPrediction
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                }).then(function(response){
                    response.json().then((data) => {
                        alert(data)
                    })
                })
            }

            else {
                alert("You have to complete all game predictions!")
            }
        }

        var selectClassification = document.getElementById("classificationSelect")
        var tableClassification = document.getElementById("mainTableClassification")

        selectClassification.addEventListener("change", function(){
            let newVal = selectClassification.value;

            fetch("/loadClassification", {
                method: "POST",
                body: JSON.stringify({
                    newVal
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(function(response){
                response.text().then((data) => {
                    tableClassification.innerHTML = data
                })
            })


        })

        var arrowPoints = document.getElementById("arrowDownShowPointsEqui");
        var divHitsPoints = document.getElementById("pointsEquivalencesDiv");

        arrowPoints.addEventListener("click", function(){
            if (divHitsPoints.style.display == "none") {
                divHitsPoints.style.display = "block";
                arrowPoints.style.transform = "rotate(225deg)";
            }
            else {
                divHitsPoints.style.display = "none";
                arrowPoints.style.transform = "rotate(45deg)";
            }
        })



    </script>

{% endblock %}
