<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <style>
        
    </style>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div style="background-color: #ff2f2f9d">
                        <strong>{{message}}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/register-user" style="display: block;">
            <h1>Register</h1>
            <input placeholder="Create a username..." type="text" name="usernameRegister">
            <input placeholder="Create a password..." type="password" name="passwordRegister">
            <input placeholder="Type the access code..." type="text" name="codeRegister">
            <button type="submit">Create an account!</button>
        </form>
        <p>Already have an account?</p><a href="https://football-predict.onrender.com/login">LogIn.</a>
    </body>
</html>
